* {
  color: #fff;
  font-weight: 400;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: top;
  font-size: calc(10px + 2vmin);
}

table {
  border-collapse: collapse;
  width: 90vw;
}

table,
th,
td {
  border: 1px solid #fff;
}

th {
  padding: 0px 5px;
}

.hide {
  display: none;
}

.icon {
  height: calc(10px + 2vmin);
}

.rotate90 {
  transform: rotate(90deg);
}

.rotate180 {
  transform: rotate(180deg);
}
